@import '/src/assets/styles/vars.scss';

.container {
  padding: 10px;
  display: flex;
  border-radius: 20px;
  list-style-type: none;
}

.coloredBg {
  background-color: $additional-dark-color;
}

.navLink {
  padding: 0 25px;
  border-right: 1px solid $yellow;
  font-size: 14px;
  text-transform: uppercase;
  a {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.navLink:last-child {
  border-right: none;
}

@media (max-width: 575px) {
  .navLink {
    font-size: 12px;
    padding: 0 15px;
  }
}
