@import '/src/assets/styles/vars.scss';

.container {
  width: 100%;
  border: 2px solid $grey;
  border-radius: 10px;
  overflow: hidden;
  img {
    height: 300px;
  }
}

.title {
  margin: 40px 0 20px;
  font-size: 20px;
  text-align: center;
}

.desc {
  padding: 0 10px;
  text-align: center;
}

.techWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.techItems {
  display: flex;
  gap: 10px;
}

.btnWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 120px;
  border: none;
  border-radius: 10px;
  background-color: $additional-color;
  color: $yellow;
}

@media (max-width: 1050px) {
  .container {
    width: 90%;
    img {
      height: 450px;
    }
  }
}
@media (max-width: 900px) {
  .container {
    img {
      height: 400px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    img {
      height: 350px;
    }
  }
}

@media (max-width: 700px) {
  .container {
    img {
      height: 300px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    width: 320px;
    img {
      height: 200px;
    }
  }
  .techWrapper {
    flex-direction: column;
  }
}
