@import '/src/assets/styles/vars.scss';

.container {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  background-color: $black-main-color;
}

.logoImg {
  width: 70px;
  height: 70px;
}

.navContainer {
  padding: 10px;
  display: flex;
  border-radius: 20px;
  list-style-type: none;
}

.navLink {
  padding: 0 25px;
  border-right: 1px solid $yellow;
  font-size: 14px;
  text-transform: uppercase;
  a {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.navLink:last-child {
  border-right: none;
}
