@import '/src/assets/styles/vars.scss';

.container {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  background-color: $black-main-color;
}

.logoImg {
  width: 70px;
  height: 70px;
}
