@import '/src/assets/styles/vars.scss';
.container {
  margin: 50px auto;
  max-width: 1141px;
}

.wrapperBig {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.wrapperMiddle {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-items: center;
}

.wrapperSmall {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 1050px) {
  .wrapperMiddle {
    grid-template-columns: 1fr;
  }
}
